@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Noto+Sans');

* {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
	background-color: #111111;
}

a {
	font-size: 50px;
	color: #fefefe;
	text-decoration: none;
	font-weight: 600;
}

.text {
	font-family: "Noto Sans", sans-serif;
	font-size: 20px;
	color: #fefefe;
	width: 40%;
}

.content {
	position:absolute;
	left:70px;
	top: 40px;
}

#discord {
	position: fixed;
	right:30px;
	top: 30px;
}

.textnormal {
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	color: #fefefe;
}

address {
	position: relative;
	top: 50px;
	font-size: 22px;
	color: #fefefe;
}

a:hover {
	color: #6b6b6b;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
}

footer>a {
	font-size: 14px;
	position: absolute;
	bottom: 6px;
	right: 10px;
}